<h1>About Knightfire Solutions</h1>
<div>
  Founded in 2019 by Christopher Duke, Knightfire Solutions is a multidimensional corporation that deals in several markets.
</div>

<h1>Personal Security</h1>

  <div>
  <img src="assets/2-13.jpg">
  </div>

 <div>
  Our Security Division offers private security options for high-profile individual or groups 24 hours a day, year-round for both
  domestic and foreign excursions
</div>

<h1>Private Investigations</h1>

  <div>
    <img src="assets/PI-Banner.jpg">
  </div>

<div>
  Our Security Division offers private security options for high-profile individual or groups 24 hours a day, year-round for both
  domestic and foreign excursions
</div>

<h1>Cybersecurity</h1>

  <div>
    <img src="assets/cybersecurity.jpg">
  </div>

<div>
  Our Security Division offers private security options for high-profile individual or groups 24 hours a day, year-round for both
  domestic and foreign excursions
</div>
